 .view-1 {
     .scroll-con {
         .artist {
             display: grid;
             grid-template-rows: min-content;
             border-radius: .3rem;
             gap: .5rem;
             place-items: center;
             padding: .3rem;
             cursor: pointer;
             transition: all 0.3s ease;

             &:hover {
                 background-color: $color-primary;
                 transform: scale(1.1)
             }

             .artist-img {
                 width: 100%;
                 border-radius: 1rem;
                 background-color: #fff;

                 img {
                     inline-size: 100%;
                     aspect-ratio: 1/1;
                     object-fit: cover;
                     border-radius: .8rem;
                 }
             }
         }
     }
 }