footer {
  z-index: 10;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  transition: padding 0.3s ease, height 0.3s ease;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  nav {
    padding: 0rem 1rem .3rem 1rem;
    position: relative;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: grid;
        place-items: center;
        font-size: $font-xs;
        cursor: pointer;

        i {
          font-size: $font-xl;
          font-weight: $font-light;
        }

        &:nth-child(4)i {
          @include animation($color-hero , $color-primary);
        }
      }
    }

  }
}


@media (min-width:$breakpoint-tablet) {
  footer {
    nav {
      padding: .3rem 1.5rem .3rem 1.5rem;
    }
  }
}

@media (min-width:$breakpoint-desktop) {
  footer {
    width: auto;
    left: min(90%, 300px);
    right: 0;
      nav {
      display: none;
    }
  }
}