header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem 0.85rem 1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    gap: 1rem;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 10;
  

    .profile{
        width: 2.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;

        img{
            width: 100%;
            overflow: hidden;
            border-radius: 50%;
        }
    }

    .all{
        display: flex;
        align-items: center;
        gap: .3rem;

        button{
            border: none;
            background-color:#18181C ;
            padding: .1rem .5rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: all ease-in-out 0.3s ;
        }

        .music{
            background-color: $color-hero;
        }
        
    }
}

