@use 'variables';
@use 'mixins';

body {
  font-family: $font-inter;
  font-size: $font-base;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background:$bg-gradient-dark;
  color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#main {
  padding: $body-padding-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding: $body-padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $body-padding-desktop;
  }
}


#main{
  overflow: hidden;
  position: relative;
}
