@import 'variables';

@mixin responsive-font($mobile, $tablet, $desktop) {
  font-size: $mobile;

  @media (min-width: $breakpoint-tablet) {
    font-size: $tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $desktop;
  }
}

@mixin glass {
  background: rgba(255, 255, 255, 0.076);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin linear-glass {
  background: linear-gradient(to bottom, #ff65c7fb, rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin profile-img {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

//animation
@keyframes gredint-slide {
  0% {
    background-position: 200% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}

@mixin animation($c1,$c2) {
  background: linear-gradient(90deg,
      $c1 ,
      $c2,
      $c1,
    );
  background-size: 300% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gredint-slide 4.5s linear infinite;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(-100%);
  }
}
@mixin slide-in{
  animation: fadeIn 1s ease forwards;
}

@mixin slide-out{
  animation: fadeOut 1s ease forwards;
}