@import 'variables';

@mixin responsive-font($mobile, $tablet, $desktop) {
  font-size: $mobile;

  @media (min-width: $breakpoint-tablet) {
    font-size: $tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $desktop;
  }
}

@mixin glass {
  background: rgba(255, 255, 255, 0.076);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@mixin linear-glass {
  background: linear-gradient(to bottom, #ff65c7fb,rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}